
.App {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 100%;
    padding: 1em;
}


.Home, .RegisterForm, .LoginForm, .LessonForm {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 100%;
    gap: 1em;
}

.CurrentUser {
    display: flex;
    align-self: flex-end;
    background-color: seagreen;
    padding: .75em 1.5em;
    border-radius: .5em;
    flex-flow: column;
    align-items: flex-end;
}

.CurrentUser * {
    color: white;
}

.userNickname {
    font-size: 1.2em;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 3em;
}

.nav * {
    color: white;
}

.addLesson {
    font-size: 1.2em;
}

.addLesson a {
    color: white;
}

form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: .5em;
}