html {
    min-height: 100%;
    background-color: cornflowerblue;
}

html, input, textarea {
    font-family: sans-serif;
}

input, textarea {
    font-family: sans-serif;
    color: #222222;
}

html, a {
    color: white;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 0;
}

a, a:active {
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {

}

tr {
    background-color: white;
    color: #222222;
}

tr a {
    color: #222222;
}


td, th {
    padding: .5em 1em;
}